.Content {
  display: flex;
  min-height: 100%;

  &__main, &__section {
    width: 100%;
  }

  &__section {
    $spacing: 1em;
    padding: $spacing;
    background-color: $color-white;
    box-shadow: 0 0 $spacing / 2 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: $spacing / 2;
    width: calc(100% - #{$spacing * 2});
    margin: $spacing;
  }
}
