* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: 1rem;
  line-height: 1.2;
}

html {
  font-size: $root-size;
}

html, body, #root-app {
  height: 100%;
}

a {
  color: $color-link;
}
