$font-primary: Arial, sans-serif;
$root-size: 16px;
$z-index-loading: 1;
$color-default: #505050;
$color-primary: #1685ff;
$color-danger: #ff442a;
$color-link: #10a6fb;
$sidebar-width: 180px;
$header-height: 40px;
